@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h3>Welcome to the administrative area of Merriweather Records</h3>

<ol class="round">
    <li class="one">
        <h5>Update your Home Page</h5>
        Quickly update your home page content
    </li>
    <li class="two">
        <h5>Add New Album</h5>
        Insert a new album, dvd, book, or product into the site
    </li>
</ol>
