@{
    Layout = null;
}

<form action="/Artists/Upload" method="post" enctype="multipart/form-data">
        <label>Filename: <input type="file" name="file" /></label>
        <input type="submit" value="Submit" />
    </form>