@model Merriweather.ViewModels.BandEditModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
@section HeadContent
{
    <script  type="text/javascript">
        $(document).ready(function () {
            $(".dp").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
        });
</script> 
}
<h2>Create Band</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Band</legend>
        @Html.Partial("_CreateOrEdit", Model)
        <div class="editor-field">
            <div id="artistsInBand"></div>
        </div>
        <p>
            <input type="submit" value="Create" />
            

        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
